* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(#074173,#1679AB,#5DEBD7,#C5FF95);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3%;
}
.navbar a:hover, :active {
    color: #5DEBD7;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.title h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    position: relative;
    color: #FFFFFF;
}

.title h1::after {
    content: "";
    height: 4px;
    width: 230px;
    background-color: #FFFFFF;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.services {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.card:hover {
    background-color: #5DEBD7;
}

.card .icon {
    font-size: 45px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 28px;
    color: #074173;
    margin-bottom: 10px;
}

.card p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #666;
}
@media screen and (max-width: 940px) {
    .card {
        width: 100%;
    }
}
